/* Reset de estilos y estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans";
  background-color: #f4f4f4;
}

/* Encabezado */
header {
  background-color: #ffffff;
  color: #455a64;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-bottom: 1px solid #455a64;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1px;
}

.logo img {
  max-width: 144px;
}

nav ul.menu {
  list-style: none;
  display: flex;
}

nav ul.menu li {
  margin-right: 20px;
  margin-left: 20px;
}

nav ul.menu li a {
  text-decoration: none;
  color: #455a64;
  font-weight: bold;
}

nav ul.menu li a:hover {
  color: #4ccbaf; /* Cambia el color al hacer hover sobre los elementos del menú */
}

.user-actions {
  display: flex;
  align-items: center;
}

.user-actions input[type="text"] {
  width: 300px;
  height: 30px;
  padding: 5px;
  border: 1px solid #455a64;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  background-image: url(../IMG/search-gris.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: right center;
}

/* Estilo para el campo de búsqueda en estado de enfoque (clic) */
.user-actions input[type="text"]:focus {
  border: 1px solid #4ccbaf;
  outline: none; /* Elimina el resaltado predeterminado al hacer clic */
  background-image: url(../IMG/search-verde.png);
}

.user-actions a {
  text-decoration: none;
  color: #455a64;
  margin-right: 5px;
  margin-left: 5px;
}

.user-icon img {
  width: 30px;
  height: auto;
  position: relative;
}

.user-icon:hover img {
  content: url(../IMG/user-verde.png);
}

/* Estilos para el desplegable del usuario */
/* .user-dropdown {
  display: none;
  position: absolute;
  right: 60px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.user-dropdown ul {
  list-style: none;
  padding: 8px 8px 3px 8px;
  border: 1px solid #455a64;
  border-radius: 5px;
}

.user-dropdown li {
  padding: 8px;
  margin-bottom: 5px;
  width: 144px;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.user-dropdown li:hover {
  background-color: #4ccbaf;
} */

/* Estilo para mostrar el desplegable cuando se agrega la clase 'show' */
/* .user-dropdown.show {
  display: block;
} */

.cart-icon img {
  width: 30px;
  height: auto;
  position: relative;
}

.cart-icon:hover img {
  content: url(../IMG/cart-verde.png);
}

.cart-count {
  background-color: #4ccbaf;
  color: #455a64;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px 6px;
  position: absolute;
}
