/* 
--puerto-rico-50: #f1fcf8;
--puerto-rico-100: #d0f7eb;
--puerto-rico-200: #a1eed8;
--puerto-rico-300: #69dfc1;
--puerto-rico-400: #4bcbaf;
--puerto-rico-500: #21ab8e;
--puerto-rico-600: #188974;
--puerto-rico-700: #176e5f;
--puerto-rico-800: #17584e;
--puerto-rico-900: #184941;
--puerto-rico-950: #082b28; 
*/

/* Reset de estilos y estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans";
  background-color: #f4f4f4;
  color: #455a64;
}

/* Encabezado */
header {
  background-color: #ffffff;
  color: #455a64;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-bottom: 1px solid #455a64;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1px;
}

/* Logo */
.logo img {
  max-width: 144px;
}

/* Menú de navegación */
nav ul.menu {
  list-style: none;
  display: flex;
}

nav ul.menu li {
  margin-right: 20px;
  margin-left: 20px;
}

nav ul.menu li a {
  text-decoration: none;
  color: #455a64;
  font-weight: bold;
}

nav ul.menu li a:hover {
  color: #4ccbaf;
}

/* User Actions */
.user-actions {
  display: flex;
  align-items: center;
}

.user-actions input[type="text"] {
  width: 300px;
  height: 30px;
  padding: 5px;
  border: 1px solid #f4f4f4;
  margin-right: 5px;
  margin-left: 5px;
  background-image: url(../IMG/LOGOS/search-gris-claro.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: right center;
}

.user-actions input[type="text"]:focus {
  border: 1px solid #4ccbaf;
  outline: none;
  background-image: url(../IMG/LOGOS/search-verde.png);
}

.user-actions a {
  text-decoration: none;
  color: #455a64;
  margin-right: 5px;
  margin-left: 5px;
}

/* User Icon */
.user-icon img {
  width: 30px;
  height: auto;
  position: relative;
}

.user-icon:hover img {
  content: url(../IMG/LOGOS/user-verde.png);
}

/* Carrito de Compras Icon */
.cart-icon img {
  width: 30px;
  height: auto;
  position: relative;
}

.cart-icon:hover img {
  content: url(../IMG/LOGOS/cart-verde.png);
}

.cart-count {
  background-color: #4ccbaf;
  color: #455a64;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px 6px;
  position: absolute;
}

/* Estilos para la sección de Destacados de Juegos */
.resultados-busqueda {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 20px 0 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
}

.resultados-busqueda p {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 20px 0 20px;
  text-align: left;
}

.destacados-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 20px 20px 0 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
}

.destacados-header .titulo {
  margin: 10px 0 0 20px;
  color: #455a64;
}

.destacados-header .introduccion {
  margin: 10px 0 20px 20px;
  color: #455a64;
}

/* Estilos para el elemento select */
.destacados-header .filtrar-ordenar {
  position: absolute;
  right: 40px;
  margin-top: 38px;
}

.destacados-header select {
  background: #ffffff url(../IMG/LOGOS/down-arrow-gris-claro.png) no-repeat;
  background-size: 24px 24px;
  background-position: right center;
  color: #757575;
  font-size: 14px;
  height: 30px;
  width: 140px;
  padding-left: 5px;
  margin-top: 10px;
  border: 1px solid #f4f4f4;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  -webkit-appearance: none; /* Propiedad específica de WebKit (Chrome, Safari) */
  -moz-appearance: none; /* Propiedad específica de Mozilla (Firefox) */
  appearance: none;
  outline: none;

  &:hover {
    background: #ffffff url(../IMG/LOGOS/down-arrow-verde.png) no-repeat;
    background-size: 24px 24px;
    background-position: right center;
    border: 1px solid #4ccbaf;
  }
}

.destacados-header select:focus {
  border: 1px solid #4ccbaf;
  background: #ffffff url(../IMG/LOGOS/collapse-arrow-verde.png) no-repeat;
  background-size: 24px 24px;
  background-position: right center;
}

/* Estilos para la etiqueta "label" */
.destacados-header label {
  margin-right: 10px;
}

/* Estilos para cada juego destacado */
.juego-destacado {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; /* Aumenta este valor para hacer los productos más grandes */
  padding: 10px;
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.juego-destacado:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  z-index: 1;
}

.juego-destacado .web-page {
  color: #455a64;
  text-decoration: none;
}

.juego-destacado img {
  width: 80%;
  aspect-ratio: 4/5;
  object-fit: contain;
}

.juego-destacado .datos-juego {
  margin: 10px 0;
}

.precio-con-descuento {
  font-weight: bold;
  font-size: 18px;
}

.precio-original {
  text-decoration: line-through;
  font-size: 14px;
}

/* Estilos para la cuadrícula de productos */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Muestra 5 columnas por fila */
}

/* Estilos para el botón "Añadir al carrito" */
.btn-anadir-carrito {
  display: none;
  padding: 5px 10px;
  background-color: #455a64;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.juego-destacado:hover .btn-anadir-carrito {
  display: inline-block;
}

.btn-anadir-carrito:hover {
  background-color: #4ccbaf;
}

.destacados-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.page-selector {
  display: flex;
  align-items: center;
  padding: 20px;
}

.page-selector ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.page-selector li {
  margin: 0 5px;
  cursor: pointer;
}

.page-selector li:hover {
  color: #4ccbaf;
}

.page-selector li img {
  width: 24px;
  height: 24px;
}

.page-numero.current-page {
  color: #4ccbaf;
}

.productos-por-page {
  text-align: right;
  padding: 20px;
}

.productos-por-page select {
  background: #ffffff url(../IMG/LOGOS/down-arrow-gris-claro.png) no-repeat;
  background-size: 24px 24px;
  background-position: right center;
  color: #757575;
  font-size: 14px;
  height: 30px;
  width: 50px;
  padding-left: 5px;
  margin-top: 10px;
  border: 1px solid #f4f4f4;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  -webkit-appearance: none; /* Propiedad específica de WebKit (Chrome, Safari) */
  -moz-appearance: none; /* Propiedad específica de Mozilla (Firefox) */
  appearance: none;
  outline: none;

  &:hover {
    background: #ffffff url(../IMG/LOGOS/down-arrow-verde.png) no-repeat;
    background-size: 24px 24px;
    background-position: right center;
    border: 1px solid #4ccbaf;
  }
}

.productos-por-page select:focus {
  border: 1px solid #4ccbaf;
  background: #ffffff url(../IMG/LOGOS/collapse-arrow-verde.png) no-repeat;
  background-size: 24px 24px;
  background-position: right center;
}

/* Estilos para la sección de Newsletter */
.newsletter {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
}

.newsletter h2 {
  display: inline-block;
  color: #455a64;
}

.newsletter img {
  display: inline-block;
  width: 28px;
  height: auto;
  bottom: -6px;
  position: relative;
}

form {
  flex-direction: column;
  align-items: center;
}

label a {
  color: #4ccbaf;
  text-decoration: none;
}

input[type="email"] {
  padding: 5px;
  width: 100%;
  max-width: 300px;
  height: 30px;
  border: 1px solid #455a64;
  margin-right: 5px;
  margin-left: 5px;
}

input[type="email"]:focus {
  border: 1px solid #4ccbaf;
  outline: none;
}

input[type="checkbox"] {
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  max-width: 100px;
  height: 30px;
  background-color: #455a64;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #4ccbaf;
}

/* Estilos para el footer */
footer {
  background-color: #ffffff;
  color: #455a64;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #455a64;
  border-top: 1px solid #455a64;
}

/* Estilos para cada columna del footer */
.footer-column {
  flex: 1;
  margin-right: 20px;
  position: relative;
}

.footer-column h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-column p {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column img {
  display: inline-block;
  width: 28px;
  height: auto;
}

/* Línea divisoria entre columnas */
.footer-column:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  height: calc(100% - 40px);
  border-right: 1px solid #455a64;
}

/* Iconos de redes sociales en el footer */
.footer-column .facebook-icon:hover {
  content: url(../IMG/LOGOS/facebook-verde.png);
  display: inline-block;
  width: 28px;
  height: auto;
}

.footer-column .twitter-icon:hover {
  content: url(../IMG/LOGOS/twitter-verde.png);
  display: inline-block;
  width: 28px;
  height: auto;
}

.footer-column .instagram-icon:hover {
  content: url(../IMG/LOGOS/instagram-verde.png);
  display: inline-block;
  width: 28px;
  height: auto;
}

.footer-column .youtube-icon:hover {
  content: url(../IMG/LOGOS/youtube-verde.png);
  display: inline-block;
  width: 28px;
  height: auto;
}
