/* Reset de estilos y estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans";
  background-color: #f1fcf8;
  color: #184941;
}

/* Encabezado */
header {
  background-color: #ffffff;
  color: #184941;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-bottom: 1px solid #082b28;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 1; /* Capa superior */
}

/* Logo */
.logo img {
  max-width: 144px;
}

/* Menú de navegación */
nav ul.menu {
  list-style: none;
  display: flex;
}

nav ul.menu li {
  margin: 0 20px;
}

nav ul.menu li a {
  text-decoration: none;
  color: #184941;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav ul.menu li a:hover {
  color: #4bcbaf;
}

/* User Actions */
.user-actions {
  display: flex;
  align-items: center;
}

.user-actions input[type="text"] {
  width: 300px;
  height: 30px;
  padding: 5px;
  border: 1px solid #082b28;
  margin: 0 5px;
  background-image: url(../IMG/LOGOS/search-gris.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: right center;
}

.user-actions input[type="text"]:focus {
  border: 1px solid #4bcbaf;
  outline: none;
  background-image: url(../IMG/LOGOS/search-verde.png);
}

.user-actions a {
  text-decoration: none;
  color: #184941;
  margin: 0 5px;
}

.resultados-busqueda {
  position: absolute;
  top: 80px; /* Ajusta la posición vertical según tu diseño */
  left: 0;
  width: 100%;
  background-color: #ffffff; /* Fondo blanco o el color que desees */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}

.sin-resultados {
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

/* User Icon */
.user-icon img {
  width: 30px;
  height: auto;
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

.user-icon:hover img {
  content: url(../IMG/LOGOS/user-verde.png);
  opacity: 0.8;
}

/* Estilo para el contenedor del carrito */
.cart-container {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

/* Estilo para el área del carrito desplegable (modifica según tus necesidades) */
.cart-dropdown {
  position: relative;
  display: inline-block;
}

.cart-dropdown a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.cart-dropdown a img {
  width: 30px;
  height: auto;
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

.cart-dropdown a img:hover img {
  content: url(../IMG/LOGOS/cart-verde.png);
  opacity: 0.8;
}

.cart-count {
  background: rgb(24, 137, 116);
  background: radial-gradient(
    circle,
    rgba(24, 137, 116, 1) 0%,
    rgba(24, 137, 116, 1) 35%,
    rgba(75, 203, 175, 1) 100%
  );
  color: #f1fcf8;
  border-radius: 50%;
  padding: 4px 10px;
}

.cart-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 200px; /* Ajusta según tus necesidades */
  /* Otras propiedades de estilo, como ancho y altura, según tus necesidades */
}

/* Estilo para los productos en el carrito (modifica según tus necesidades) */
.cart-items {
  max-height: 300px; /* Ajusta según tus necesidades */
  overflow-y: auto; /* Agrega una barra de desplazamiento si es necesario */
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cart-item img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.cart-item .info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cart-item .info .name {
  font-weight: bold;
}

.cart-item .info .price {
  color: #ff5733;
}

.cart-item .controls {
  display: flex;
  align-items: center;
}

.cart-item .controls .quantity {
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 5px;
}

.cart-item .controls .delete {
  cursor: pointer;
  color: #ff5733;
}

/* Estilo para el botón de tramitar pedido (modifica según tus necesidades) */
#checkout-button {
  background-color: #ff5733;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para el subtotal (modifica según tus necesidades) */
#subtotal {
  font-weight: bold;
  color: #ff5733;
}

/* Estilos para la sección de Destacados de Juegos */
.mesaje-main {
  margin: 40px 0;
}

.mesaje-main h2 {
  margin-bottom: 20px;
}

.mesaje-main h2,
.mesaje-main p {
  text-align: center;
}

.mejor-valorados,
.novedades,
.en-oferta {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  top: -100px;
  padding-top: 60px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.mejor-valorados h2,
.novedades h2,
.en-oferta h2 {
  display: flex;
  position: absolute;
  margin: -50px 0 0 20px;
  color: #184941;
}

/* Estilos para cada juego destacado */
.juego-destacado {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; /* Aumenta este valor para hacer los productos más grandes */
  padding: 10px;
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.juego-destacado:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  z-index: 1;
}

.juego-destacado .web-page {
  color: #184941;
  text-decoration: none;
}

.juego-destacado img {
  width: 80%;
  aspect-ratio: 4/5;
  object-fit: contain;
}

.juego-destacado .datos-juego {
  margin: 10px 0;
}

.precio-con-descuento {
  font-weight: bold;
  font-size: 18px;
}

.precio-original {
  text-decoration: line-through;
  font-size: 14px;
}

/* Estilos para la cuadrícula de productos */
.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Muestra 5 columnas por fila */
}

/* Estilos para el botón "Añadir al carrito" */
.btn-anadir-carrito {
  display: none;
  max-width: 50%;
  padding: 5px 10px;
  background-color: #184941;
  color: #ffffff;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

.juego-destacado:hover .btn-anadir-carrito {
  display: inline-block;
}

.btn-anadir-carrito:hover {
  background-color: #4bcbaf;
}

/* Estilos para la sección de Newsletter */
.newsletter {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #f1fcf8;
}

.newsletter h2 {
  display: inline-block;
  color: #184941;
}

.newsletter img {
  display: inline-block;
  width: 28px;
  height: auto;
  bottom: -6px;
  position: relative;
}

form {
  flex-direction: column;
  align-items: center;
}

label a {
  color: #4bcbaf;
  text-decoration: none;
}

input[type="email"] {
  padding: 5px;
  width: 100%;
  max-width: 300px;
  height: 30px;
  border: 1px solid #082b28;
  margin: 0 5px;
}

input[type="email"]:focus {
  border: 1px solid #4bcbaf;
  outline: none;
}

input[type="checkbox"] {
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  max-width: 100px;
  height: 30px;
  background-color: #184941;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #4bcbaf;
}

/* Estilos para el footer */
footer {
  background-color: #ffffff;
  color: #184941;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #082b28;
  border-top: 1px solid #082b28;
}

/* Estilos para cada columna del footer */
.footer-column {
  flex: 1;
  margin-right: 20px;
  position: relative;
}

.footer-column h3 {
  font-size: 1.2rem;
  margin: 0 0 10px;
}

.footer-column p {
  font-size: 0.9rem;
  margin: 0 0 5px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin: 0 0 5px;
}

.footer-column img {
  display: inline-block;
  width: 28px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

/* Línea divisoria entre columnas */
.footer-column:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  height: calc(100% - 40px);
  border-right: 1px solid #082b28;
}

/* Iconos de redes sociales en el footer */
.footer-column .facebook-icon:hover {
  content: url(../IMG/LOGOS/facebook-verde.png);
  display: inline-block;
  width: 28px;
  height: auto;
  opacity: 0.8;
}

.footer-column .twitter-icon:hover {
  content: url(../IMG/LOGOS/twitter-verde.png);
  display: inline-block;
  width: 28px;
  height: auto;
  opacity: 0.8;
}

.footer-column .instagram-icon:hover {
  content: url(../IMG/LOGOS/instagram-verde.png);
  display: inline-block;
  width: 28px;
  height: auto;
  opacity: 0.8;
}

.footer-column .youtube-icon:hover {
  content: url(../IMG/LOGOS/youtube-verde.png);
  display: inline-block;
  width: 28px;
  height: auto;
  opacity: 0.8;
}
